@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&family=Roboto&display=swap');
/* selector universal */
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;   
    list-style: none;
}

body{
    background-image: url("../img/background.jpg");
    
}
h1{
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 3em;
} /* titulo x pagina */

h2{
    color: rgb(12, 12, 12);
    font-size: 1em;
    text-align: center;
} /* productos destacados */

h3{
    color: rgb(226, 226, 226);
    font-size: 2.5em;
    text-align: center;
    margin-top: 5px;
}

header img{
    width: 100%;
    height: auto;
} /* imagen hero */


/* Nav */
nav{
    background-color: rgb(12, 12, 12);
    padding: 0px 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul{  
    display: flex;
}

nav ul li{
    margin: 10px;
}
            
nav ul li a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 1.5em;       
}


nav a:hover{
    cursor: crosshair;
    color: grey;
}


button svg{
    color: rgb(226, 226, 226);
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}




/* contactenos */
main form{
    background-color: rgb(49, 48, 48);
    width: 50%;
    height: auto;
    border: solid 3px rgb(77, 76, 76);
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 30px;
}


/*footer*/
footer{ 
    width: 100%;
    height: auto;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


footer p{
    text-align: right;
    color: gray;
    font-size: 0.75em;   
    margin-top: 10px;
    margin-left: 20px;
    width: 25%;
    height: 30%;
}

footer svg{
    width: 30px;
    height: 30px;
    fill: black;
    margin-left: 10px;
}

footer div a{
    text-decoration: none;
}



/* main */
main article p{
    font-size: 1em;
    text-align: center;
    color: rgb(250, 67, 67);
} /* precio sin descuento */

main section p{
    font-size: 2em;
    text-align: left;
    color: rgb(12, 12, 12);
} /* texto index */

main p{
    color: rgb(226, 226, 226);
    font-size: 2em;
    text-align: center;
} /* texto nosotros */


main section ul li a{
    color: rgb(12, 12, 12);
    
} /* lista catalogo */

main section ul li a:hover{
    cursor: crosshair;
    color: grey;
}
main section img{
    border: solid 2px rgb(226, 226, 226);
    border-radius: 5px;
    width: 75%;
}

main section ul{
    padding: 5px;
}

/* ------ clases ------ */

/* otros */
.bg-opaco{
    background-color: rgb(10, 10, 10);
}
.bigimg_size{
    width: 250px;
    height: auto;
} /* img nosotros, index y contacto */


.precios{
    font-size: 1em;
    text-align: center;
    margin-bottom: 8px;
    color: white;
}

/* nav */

.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navegador ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;        
    }

    .logo{      
        width: 60px;
        height: 60px;
    }

@media (width < 576px){

    nav ul li a{
        font-size: 1em;
    }
}


/* footer */

@media (width < 480px){

    footer{

        flex-direction: column;
        align-items: center;
    }

    footer p{
        text-align: center;
    }
}




/* catalogo */

.catalogo{
   
   display: grid;
   grid-template-columns: 15% repeat(3,1fr);
   grid-template-rows: repeat(2, auto);
   gap: 5px;
   margin-right: 5px;
   grid-template-areas: 
   "filtros prod1 prod2 prod3"
   ". prod4 prod5 prod6";
}
    .catalogo section{
        border: solid 3px white;
        border-radius: 10px;
        margin-top: 10px;
    }

    .catalogo h3{

        margin-top: 5px;

    }
    .filtros{
        margin: 5px;
        grid-area: filtros;
        padding-top: 10px;
    }

    .filtros ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filtros a{
        font-size: 1.2em;
        text-decoration: none;        
    }

    .prod1{
        grid-area: prod1;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 10px;
        margin: 5px 5px;   
    }

    .prod2{
        grid-area: prod2;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 10px;
        margin: 5px 5px;   
    }

    .prod3{
        grid-area: prod3;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 10px;
        margin: 5px 5px;     
    }

    .prod4{
        grid-area: prod4;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 10px;
        margin: 5px 5px;      
    }

    .prod5{
        grid-area: prod5;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 5px 5px;     
        padding-top: 10px;
    }

    .prod6{
        grid-area: prod6;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 5px 5px;     
        padding-top: 10px;
    }






@media (width < 768px){

    .catalogo{
        
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(7,auto);
        grid-template-areas: 
        "filtros filtros"
        "prod1 prod2"
        "prod3 prod4"
        "prod5 prod6";
    }

    
    .filtros ul{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    
}

@media (width < 535px){

    .catalogo h3{

        font-size: 1em;
    }

    .catalogo p{

        font-size: 0.75em;
    }
}

 /* ofertas */

 .ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

    .ofertas h3{
        margin-top: -15px;
        margin-bottom: 10px;
    }

    .ofertas img{
        margin: 10px 20px;
    }


/* nosotros */

.nosotros{
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}

/* contacto */

.contacto{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}



.contacto_form{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3, auto);
    gap: 5px;

    grid-template-areas: 
    "labels logo"
    "labels logo"
    "labels logo"
    "texto texto"
    "boton boton";
}

    .contacto_labels{
        grid-area: labels;
        margin-top: -24px;
    }

    .contacto_logo{
        grid-area: logo;
        width: 160px;
        height: 160px;
        border: none;
        margin: 10px auto;
        
    }

    .contacto_textarea{
        grid-area: texto;
    }

    .contacto_boton{
        grid-area: boton;
        display: flex;
        justify-content: space-between;
        margin: 10px -10px;
        padding: 0px 10px;
     
    }