.error{

    display: flex;
    justify-content: center;
    align-items: center;

    a{
        color: $mainColor;
        text-decoration: none;
            &:hover{
                cursor: crosshair;
                color: $secondaryColor;
            }
    }
}