

@media (width < 576px){

    nav ul li a{
        font-size: $textXs;
    }
}


@media (width < 480px){

    footer{

        flex-direction: column;
        align-items: center;
    }

    footer p{
        text-align: center;
    }
}


@media (width < 768px) {

    .ofertas{
        flex-direction: column;
        justify-content: space-between;
    }

    .nosotros{

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nosotros p{

        font-size: $textXs;
        text-align: center;
    }

    .contacto form{

        margin: 10px;
        width: 100%;
    }

    .contacto aside img{
     
        width: 90%;
        margin-left: 0px;
    }

}


@media (width < 950px){

    .catalogo{
        
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(7,auto);
        grid-template-areas: 
        "filtros filtros"
        "prod1 prod2"
        "prod3 prod4"
        "prod5 prod6";
    }

    
    .filtros ul{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto form{

        margin-right: 50px;
        width: 100%;
    }

    .contacto aside img{
     
        width: 90%;
        margin-left: 0px;

    }
    
    
}

@media (width < 535px){

    .catalogo h2{

        font-size: $textSm;
    }

    .catalogo p{

        font-size: 0.75em;
    }
}


@media (width < 992px){
    .index h1{
        font-size: $textMd;
        text-align: center;
    }

    .index p{
        font-size: $textSm;
    }
    
    .index h2{
        font-size: $textSm;
    }
    
    .nosotros p{
        font-size: 1.25em;
    }
}


@media (width < 1301px){

    .contacto{
        display: flex;
        justify-content: space-between;
    }

    .contacto aside img{
     
        width: 90%;
        margin-left: 25px;

    }

    .contacto form img{
        margin-left: 10px;
    }

}


