.nosotros{

    display: flex;
    flex-direction: row;
    align-items: flex-start;  

    p{
        color: $white;
        font-size: $textSm;
        text-align: center;  
    }

    h2{
        text-align: center;
    }
}
