$mainColor: rgb(12,12,12);
$secondaryColor: rgb(128, 128, 128);
$white: rgb(226, 226, 226);



$mainFont: 'Roboto', sans-serif;
$secondaryFont: verdana, sans-serif;

$textXl: 3em;
$textLg: 2.5em;
$textMd: 2em;
$textSm: 1.5em;
$textXs: 1em;

